@import "tailwindcss";

#right::-webkit-scrollbar{
    display: none;
}

.btn
{
    position: relative;
    left: 40%;
    padding: 5px 14px;
    color: white;
    background: linear-gradient(rgb(4, 203, 137),rgb(174, 8, 225));
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
